set_io pclk J3

set_io D1 M12
set_io D2 P14
set_io D3 R14
set_io D4 R15
set_io D5 R16

set_io TXD T16
set_io RXD L11

set_io spi_cs_n R12
set_io spi_miso P11
set_io spi_mosi P12
set_io spi_clk  R11

set_io RESET C14
